.user {
    display: flex;
}
.about {
    color: #fff;
    display: flex;
    gap: 30px;
}
.photoBtn {
    img {
        width: 100px;
        height: 100px;
    }
}
.pagginationPages {
    display: flex;
    gap: 20px;
    padding: 20px;
    color: #fff;
    span {
        cursor: pointer;
    }
}
.selectedPage {
    font-weight: bold;
    color: rgb(103, 87, 214);
    background: transparent;
}
