.header {
  z-index: 5;
  grid-area: header;
  background: rgba(33, 31, 42, 0.96);
  & img {
    width: 50px;
    height: 50px;
  }
}

.loginBlock {
  float: right;
  font-size: 30px;
  font-weight: 700;
  color: rgba(103, 87, 214, 1);
  padding: 10px;
}
