.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 5;
  grid-area: sidebar;
  background: #242731;
}
.item {
  margin-top: 30px;
  cursor: pointer;
  & a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: rgba(103, 87, 214, 1);
    }
    &.active {
      color: rgba(103, 87, 214, 1);
    }
  }
}
