.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 5;
  grid-area: sidebar;
  background: linear-gradient(160deg, rgba(79, 24, 116, 1) 6%, rgba(171, 114, 34, 1) 120%);
}
.item {
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  &:hover {
    color: rgb(223, 138, 21);
  }
}
