.background {
    & img {
        width: 100%;
    }
}
.descriptionBlock {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
    gap: 10px;
}
.description {
    font-size: 30px;
    color: #fff;
    padding: 10px;
    input {
        padding: 7px;
        font-size: 25px;
        width: 500px;
        color: rgba(103, 87, 214, 1);
        background: rgba(33, 31, 42, 0.96);
        border: none;
        height: 30px;
        outline: none;
    }
}

.avaDescription {
}
.contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
        }
    }
}

.status {
}
