@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
body {
  background: radial-gradient(circle, rgba(171, 114, 34, 1) 10%, rgba(79, 24, 116, 1) 100%);
}
ul li {
  list-style: none;
}
.app-wrapper {
  font-family: 'Jost', serif;
  margin: 0 auto;
  width: 1200px;
  display: grid;

  grid-template-areas:
    'header header'
    'sidebar content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
  background: radial-gradient(circle, rgba(40, 33, 64, 1) 0%, rgba(36, 26, 50, 1) 100%);
  grid-area: content;
}
